#PostgreSQL
DB_USER=dailynestUser
DB_PASSWORD=dailynest!
DB_NAME=dailynestDB


#FastAPI
SECRET_KEY=123456789
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60


#pgAdmin
PGADMIN_EMAIL=dailynest@admin.com
PGADMIN_PASSWORD=dailynest!